{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Juan Ruiz - Fotografo</h1>
    <div class="about" >
        <img src="https://picsum.photos/id/237/300/350"/>
        <div class="aboutcontent" >
            <h3>Black Korone</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, iste nobis! Saepe, eos suscipit, eveniet non quas sed excepturi ducimus officiis maxime ad molestiae assumenda deserunt consectetur repellendus nobis quisquam.</p>
        </div>
    </div>
{% endblock %}